MOCK_MODE=true

SSH_HOST=
SSH_USER=
SSH_KEY_PATH=

OPENCLAW_GATEWAY_TOKEN=
WEBAPP_PORT=3000
WEBAPP_SECRET=change-me

OPENCLAW_CONFIG_PATH=
OPENCLAW_SUGGESTIONS_PATH=
OPENCLAW_HEARTBEAT_PATH=
OPENCLAW_CURRENT_SETUP_PATH=
OPENCLAW_SUGGESTIONS_HISTORY_PATH=
